.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: #f38704;
  .nav-links {
    margin-right: 2rem;
    font-family: $font-header;
    color: white;
    &:hover {
      color: #1e2022;
    }
  }
  .twitter-share-button {
    margin-right: 1rem;
  }
  .announcekit-widget {
    margin-left: 1rem;
    color: white;
    font-family: $font-header;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .announcekit-widget-badge {
    margin-left: 10px;
  }
}
