//All imports for Font here!
@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans|Roboto&display=swap");

//Fonts Used Through Site (Please only use this fonts as provided.
$font-header: "Roboto", sans-serif;
$font-sub: "Open Sans", sans-serif;
$color1: red;
