@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');



.home-bio-container {
    .bio-desc-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-top: 10rem;
        .bio-img {
            img {
                width: 400px;
                height: 400px;
                border: 1rem solid white;
                border-radius: 50%;
                
            }
        }
        .bio-text {
            margin-top: 2rem;
            .bio-title{
                font-size: 2rem;
                font-family: Dosis;
            }
            .bio-links {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                a {
                    margin-right: 1rem;
                    font-family: Cutive Mono;
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }
    }
}   