.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem;
    .nav-links {
        margin-right: 2rem;
        font-family: 'Courier New', Courier, monospace;
    }
}